body, html, h1 {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Circular, Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.sq {
    width: 100%;
    height: 100vh;
}

#sq0 {
    background: #001D89;
    background: linear-gradient(45deg, #001D89 20%, #00DAF8 100%);
}
#sq1 {
    background: white;
}
#sq2 {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 5%, #0063f8 49%, #001D89 100%);
}

h1 {
    color: white;
    padding-top: 40vh;
    text-align: center;
    font-size: 5em;
}

#sq1 h1 {color: black; font-weight: bold;}

.status-bar {
    position: fixed;
    height: max(100px, 30vh);
    width: 5px;
    z-index: 1;
    margin-top: 35vh;
    margin-left: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.page {
    display: block;
    width: 5px;
    height: max(30px, 9vh);
    transition-property: 'background-color';
    transition-duration: 0.3s;
}

.page:hover {cursor: pointer;}

#page0 {background-color: white}

#page1 {background-color: #aaa8}

#page2 {background-color: #aaa8}

#sq0 img {
    position: absolute;
    bottom: 0;
    width: 800px;
    height: auto;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

#sq0 h1 {
    color: white;
    padding-top: 35vh;
    padding-left: 65vw;
    text-align: left;
    font-size: 4em;
    font-weight: lighter;

    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

#sq0 a {
    position: absolute;
    bottom: 0;
    left: 70vw;
    bottom: 10vh;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

#sq0 a:hover {
    cursor: pointer;
}